Flask==3.0.3
flask-cors==5.0.0
gunicorn
pymongo==4.10.1
python-dotenv==1.0.1
google-generativeai
flask-socketio
eventlet
rdkit-pypi==2024.9.6
tensorflow==2.15.1
torch==2.4.1
open_clip_torch==2.23.0
pandas==2.2.3
matplotlib==3.9.2
Pillow==11.0.0
protobuf==5.28.3
Requests==2.32.3
langchain==0.3.4
langchain_community==0.3.3
langchain_google_genai==2.0.1
dockstring==0.3.2
seaborn==0.13.2
numpy
bcrypt
